body {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    color: #000000;
}

ul, li {
    list-style: none;
}

a  {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: none;
}

.black {
    color: #000000;
}



/* HEADER 
============================== */

.menu{
padding: 32px 0;
border-bottom: 1px solid #828282;
font-weight: 700;
}

.menu__item a {
    color: #828282;
    transition: color 0.1s linear;
}

.menu__item--black a {
    color: #000000;
}

.menu__item a:hover {
    text-decoration: none;
    color: #000000;
}

/* HOME 
================================ */

.home__title {
    font-size: 47px;
    font-weight: 700;
}

.home__text {
    font-weight: 700;
    text-align: center;
}

.home__lang {
    position: relative;
}

.home__lang__item {
    display: inline-block;
    transform: rotate(-90deg);
    position: absolute;
    width: 100px;
    right: -20px;
    bottom: 10px;
}

.main__image {
    margin-top: 50px;
}

.main__image__item {
    width: 100%;
}


/* ABOUT ME
========================== */
.about__me__container {
    background: #F6F6F6;
    margin-top: 104px;
    padding: 120px 0 107px;
}

.about__me {
    max-width: 420px;
}

.about__me__title {
    font-size: 34px;
    font-weight: 700;
}

.about__me__text {
    font-size: 18px;
    margin: 17px 0 40px;
}

.about__me__text:last-child {
    margin-bottom: 0;
}

/* SKILLS */

.skills {
    font-size: 34px;
    font-weight: 700;
    margin-top: 91px;
}

.skills__item {
    margin-top: 80px;
}

.skills__item__icon {
    width: 90px;
    height: 90px;
}

.skills__item__title {
    font-weight: 700;
    color: #828282;
    margin-top: 24px;
}

.skills__item__level {
    margin-top: 30px;
}

.skill__item__level__star {
    margin-right: 9px;
}

/* PORTFOLIO 
==================== */

.about__me__container--nopadding {
    padding-bottom: 5px;
}

.portfolio__image__item {
    width: 100%;
    margin-top: 47px;
    border: 2px solid #000000;
}

.portfolio__link {
    margin-top: 44px;
    margin-bottom: 99px;
    font-weight: 700;
}

.portfolio__link__item {
    border: 1px solid #000000;
    width: 150px;
    margin: 0 auto;
    padding: 5px 15px;
    background-color: #000000;
    color: #ffffff;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.portfolio__link__item:hover {
    background-color: #ffff;
    color: #000000;
}

/* CONTACTS 
=========================== */

.contacts__title {
    font-size: 34px;
    font-weight: 700;
    margin-top: 114px;
}

.contacts__text {
    margin-top: 20px;
}

.contacts__button {
    background-color: #000000;
    color: #ffffff;
    width: 200px;
    margin: 29px auto 0;
    border-radius: 30px;
    padding: 13px 29px;
    font-weight: 700;
}

.contacts__button:hover {
    background-color: rgb(0, 0, 255);
}

.social__box {
    margin-top: 85px;
}

.social__item {
    width: 40px;
}

.contacts {
    padding-bottom: 30px;
}

@media (max-width:767px) {
    header {
        display: none;
    }

    .main__image {
        margin-top: 10px;
    }

    .home {
        margin-top: 30px;
    }

    .home__text {
        text-align: left;
    }

    .about__me {
        padding-left: 20px;
        padding-right: 20px;
    }
}